</div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a class="right-align"href="/">Back to Home!</a>  
                <a class="left-align"href="/skills/new">Add another skill!</a>
            </div>
        </div>
    </div>
</footer>
</body>

</html>