</div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <a href="/">Back to Home!</a>  
                <a href="/skills/new">Add another skill!</a>
            </div>
        </div>
    </div>
</footer>
</body>

</html>